{% extends 'base.html.twig' %}

{% block title %}Codeshare{% endblock %}

{% block body %}

<section class="row gap-1">
    <aside class="col-md-3 col-sm-12">
    {% for item in user %}
        <img src={{ asset('img/favicon.svg') }} class="rounded-pill border d-none d-md-block d-lg-block" width="300">
        <h3 class="h2 mt-3">{{item.username}}
        {% if item.isPremium == 0 %}
            <span class="rounded-pill bg-warning text-light h6 px-2">Regular</span>
            {% else %}
            <span class="rounded-pill bg-primary text-light h6 px-2">PRO</span>
        {% endif %}
        </h3>
        <p class="fs-6 text-muted text-uppercase"></p>
        <hr>
        <p class="fs-5">À propos</p>
        <p>{{item.summary}}</p>
        <p><i class="fas fa-map-marker-alt mx-1"></i>{{item.city}}, {{item.country}}</p>
        <p><i class="fas fa-envelope mx-1"></i>{{item.email}}</p>
        {% endfor %}
        <hr class="mb-5">
        <footer class="text-center text-muted my-5">
            © 2023 - Codeshare
        </footer>
    </aside>
    <div class="col-md-8 border rounded px-3 py-2 mb-3">
                <div class="d-flex justify-content-between border-bottom mb-3">
                    <h2>Mes notes</h2>
                    <div>
                        <a href="" class="btn btn-success"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="row gap-1 justify-content-center">
                    {% for note in notes %}
                        <div class="border rounded col-3 m-1 p-2">
                            <h4>{{note.title}}</h4>
                            <p>{{note.content|slice(0,10)}}</p>
                            <a href={{ path('app_note_show', { id: note.id }) }} class="btn btn-dark">Voir</a>
                        </div>
                    {% endfor %}
                </div> <!-- Liste des notes -->
                <div class="d-flex justify-content-center mt-3">
                    <nav aria-label="pagination">
                        <ul class="pagination">
                            {{ knp_pagination_render(notes, null, {}, {
                                'align': 'center',
                                'size': 'large',
                                'rounded': true,
                            }) }}
                        </ul>
                    </nav>
                </div> <!-- Pagination -->
                <h2>Mes achats</h2>
                <hr>
                <div class="row gap-1 justify-content-center">
                    <div class="col-3 m-2">
                        <div class="border rounded mb-2 px-5 py-3 bg-light d-flex justify-content-center align-items-center">
                            <a href="" class="btn"><i class="fas fa-download"></i></a>
                        </div>
                        <h6>Produit A</h6>
                    </div> <!-- Produits -->
                    <div class="col-3 m-2">
                        <div class="border rounded mb-2 px-5 py-3 bg-light d-flex justify-content-center align-items-center">
                            <a href="" class="btn"><i class="fas fa-download"></i></a>
                        </div>
                        <h6>Produit A</h6>
                    </div> <!-- Produits -->
                    <div class="col-3 m-2">
                        <div class="border rounded mb-2 px-5 py-3 bg-light d-flex justify-content-center align-items-center">
                            <a href="" class="btn"><i class="fas fa-download"></i></a>
                        </div>
                        <h6>Produit A</h6>
                    </div> <!-- Produits -->
                </div> <!-- Contenu User -->
        </div>
</section>


{% endblock %}
